<div class="post-info">

  <a class="post-link" href="{{ page.url | relative_url }}">{{ page.title | escape }}</a>

  {% if page.description %}
  <br>
  <span class="post-description">{{ page.description }}</span>
  {% endif %}

  <div class="post-meta">
    {% assign date_format = site.minutia.date_format | default: "%b %-d, %Y" %}
    {{ page.date | date: date_format }}
    •

    {% include filed.html %}

    •
    <a href="{{ page.url | relative_url }}#comments">{% include comment-count.html %}</a>
  </div>

</div>
