@charset "utf-8";

// Define defaults for each variable.

$base-font-family: 'IBM Plex Sans', Helvetica, sans-serif !default;
$code-font-family: 'Hack', monospace !default;
$base-font-size:   16px !default;
$code-font-size:   12px !default;
$small-font-size:  $base-font-size * 0.925 !default;
$smaller-font-size: $base-font-size * 0.85 !default;
$large-font-size:  $base-font-size * 1.0625 !default;
$base-font-weight: 300  !default;
$bold-font-weight: 500  !default;
$base-line-height: 1.5  !default;

$spacing-unit:     30px !default;

$text-color:       #111 !default;
$background-color: #fdfdfd !default;

$gray:             #828282 !default;
$light-gray:       lighten($gray, 40%) !default;
$lightest-gray:    #f9f9f9 !default;
$dark-gray:        darken($gray, 15%) !default;

$blue:             #2a7ae2 !default;
$light-blue:       lighten($blue, 20%) !default;
$dark-blue:        darken($blue, 15%) !default;
$red:              #d65946 !default;
$lightest-red:     #fffafa !default;
$green:            #6aaf50 !default;
$light-purple:     #eeeeff !default;
$lightest-purple:  #f1f1ff !default;

// Width of the content area
$content-width:    880px !default;

$on-palm:          600px !default;
$on-laptop:        880px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@mixin relative-font-size($ratio) {
    font-size: $base-font-size * $ratio;

    code {
        font-size: $code-font-size * $ratio;
    }
}

// Import partials.
@import
"minutia/fonts",
"minutia/base",
"minutia/layout",
"minutia/syntax-highlighting",

"minutia/final"
;
